body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2c3e50;
    color: #97f3b7;
    margin: 0;
}

h1 {
    text-shadow: 2px 2px #000000;
}

#tablero-juego {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    perspective: 1000px;
}

.carta {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.carta.volteada {
    transform: rotateY(180deg);
}

.carta.acertada {
    transform: scale(0.9);
    opacity: 0.7;
}

.cara {
    position: absolute;
    width: 100px;
    height: 100px;
    backface-visibility: hidden;
    border-radius: 10px;
    border: 3px solid #97f3b7;
    box-shadow: 0 0 10px #97f3b7;
}

.cara.frontal{
    background-color: #1a2531;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cara.frontal img{
    width: 80%;
    height: 80%;
}
.cara.trasera {
    background-color: #e0f7fa;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cara.trasera img {
    width: 90%;
    height: 90%;
}